@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

:root{
    --amarillo: yellow;/*varieble*/
    font-size:1.0416666666vw;
    }
    
 
    
    body{
        background-image: linear-gradient(to right, black, black, red);
        margin: 100px;
        border: 10px solid white;
        border-radius: 30px;
        border-style:dashed;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
        -moz-column-gap: 20px; /* Firefox */
        column-gap: 20px;
        
        -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
        -moz-column-gap: 2rem; /* Firefox */
        column-gap: 2rem;
        -webkit-column-rule: 5px solid white  ; /* Chrome, Safari, Opera */
        -moz-column-rule: 5px solid white; /* Firefox */
        column-rule: 5px solid white;
        column-rule-style:dashed;
        
    }

    /*selector de id*/
    #logo{
        width: 50%;
        height: auto;
    }
   
    header{
        text-align: center;
        margin-top: 1em;
    }
    main{
        text-transform:uppercase;
    }
    h2{
        font-size:2.188em;
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-family: "Nerko One";
        font-weight: normal;
        padding-bottom: 25px;
        background-image: url(imagenes/title-ornament.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        margin: 0.2em;
        font-weight: bold;
    }

    h2::before, h2::after{
        content: "-";
    }

    .separador{
        border: 5px solid white;
        border-style:dotted;
        border-top:unset;
        margin: 20px;
    }
    h3{
        color: yellow;
        text-align: center;
        font-size: 1em;
        text-decoration:double;
    }
    h1{
        color: white;
    }
    ul{
        color: yellow;
    }
    li p:first-child{
        color: var(--amarillo);/*forma de invocar una variable*/
        font-size: 1.2em;
    
    }
    p{
        color: white;
    }
    
    table{
        border-color: var(--amarillo);
        border-width: 0.1em;
        border-style: solid;
        padding: 0em 2em 0em  2em;/*arriba, derecha,abajo,izquierda*/
        border-radius: 10px;
        text-align: center;
        margin: auto;
       
        
    }
    th{
        color: var(--amarillo);
        text-transform: uppercase;
        
    }
    td{
        text-align:center;
    }
    tr{
        color: white;
    }
    #pizza_size{
        border-style: none;
    }
    #pizza4{
        width: 6.510416666666667vw;
        height: 6.510416666666667vw;
    }
    #pizza6{
        width: 8.463541666666666vw;
        height: 8.463541666666666vw;
    }
    #pizza8{
        width: 10.416666666666666vw;
        height: 10.416666666666666vw;
    }
    .porciones{
        color: white;
    
    }
    h3{
        font-family: 'Kaushan Script', cursive;
        text-transform: capitalize;
        font-weight: 300;
        font-size: 1.4973958333333333vw;
    }

    button, select{
        position: relative;
        border-radius: 3px;
        border-color: yellow;
        background-color: transparent;
        color: white;
        font-family: 'nerko one';
        text-transform: capitalize;
    }

    option{
        background-color: yellow;
        color:black;
    }
    label{
        color: white;
    }
   aside{
    display: none;
    background: black;
    width: 500px;
    border: 50px;
    padding: 30px;
    transform: scale(0) ;
    transition: 1s;
   }
   aside.active{
    display:block;
    position: fixed;
    background: black;
    width: 500px;
    border: 50px;
    padding: 30px;
    transform: scale(1) translate(100px, -100px);
    border: 5px solid white;
    border-radius: 10px;
    border-style:dashed;
    z-index: 9999;
   }

   #abrir_pedido{
       margin-left: 2rem;
       margin-top: 2rem;
   }

   .oculto{
       display: none;
   }

   @media (max-width: 1000px ){
       body{
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
       }
       main{
           margin-bottom: 1em;
       }
       main  *{
           margin-top: 1em;
           margin-bottom: 1em;
       }
       main button{
        margin-top: 0;
        margin-bottom: 0;
       }

       button, select{
           font-size:2em;
       }

       th, td{
        font-size: 1.5em;
       }
       
   }
  